form {
  padding: 24px;
  gap: 8px;
  margin: 0;
}
.feedback-form {
  display: flex;
  flex-direction: column;
  width: 360px;
}
input {
  height: 40px;
  width: 360px;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
}
input:hover {
  border-color: #000000;
  border-radius: 4px;
}
.text {
  height: 80px;
  width: 360px;
}
button {
  background: #4e75ff;
  color: white;
  border: none;
  width: 95;
  height: 40;
  gap: 10px;
  border-radius: 8px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
}
button:hover {
  background: #6c8cff;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #2e2f42;
  padding-bottom: 8px;
  margin: 0;
}
