ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.gallery-image {
  margin-right: 24px;
  margin-bottom: 20px;
  height: 200px;
  width: 360px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
